<div class="o-wrapper">

  <div class="c-booking">
    <h3>Reservation :</h3>
    <iframe src='https://ib.guestonline.fr/instabook/bookings/DThKf1O' width='320px' height='450px' frameborder='0' allowTransparency='true' scrolling='yes' ></iframe>
  </div>

  <div class="c-back-to-top">
    <a class="c-back-to-top__link" href="#top">
      <span class="c-back-to-top__label">
        {{ "Haut de la page" | t }}
      </span>
    </a>
  </div>

  {% if theme_settings.footer_display_newsletter %}
    <div class="c-form c-newsletter-form">
      {% newsletter_subscribe_form %}
        <fieldset class="o-form">
          <div class="o-form__field">
            <label class="c-form__label" for="subscriberEmail">{{ "Abonnez-vous à notre newsletter pour recevoir les dernières nouveautés du restaurant&nbsp;:" | t }}</label>
            <input id="subscriberEmail" class="c-form__input" name="subscriber[email]" type="email" required="required">
          </div>
          <div class="o-form__field c-button--center">
            <button class="o-button o-button--has-icon c-button-color-red" type="submit">
              <i class="icon icon-check"></i> {{ "Valider" | t }}
            </button>
          </div>
        </fieldset>
      {% endnewsletter_subscribe_form %}
    </div>
  {% endif %}

  <div class="c-footer__social">
    <ul class="c-footer__social-items">
      {% if restaurant.phone? %}
      <li class="c-footer__social-item">
        <a class="c-footer__social-item-link" href="tel:{{ restaurant.phone_uri }}">
          <i class="icon icon-phone"></i>
          <span class="c-footer__social-item-label">{{ restaurant.phone }}</span>
        </a>
      </li>
      {% endif %}
      {% if restaurant.email? %}
        <li class="c-footer__social-item">
          <a class="c-footer__social-item-link" href="mailto:#{{restaurant.email}}">
            <i class="icon icon-envelop"></i>
            <span class="c-footer__social-item-label">{{ "Envoyer un email" | t }}</span>
          </a>
        </li>
      {% endif %}
      {% if restaurant.facebook_url? %}
        <li class="c-footer__social-item">
          <a class="c-footer__social-item-link" href="{{restaurant.facebook_url}}">
            <i class="icon icon-facebook"></i>
            <span class="c-footer__social-item-label">{{ "Notre page Facebook" | t }}</span>
          </a>
        </li>
      {% endif %}
      {% if restaurant.twitter_url? %}
        <li class="c-footer__social-item">
          <a class="c-footer__social-item-link" href="{{restaurant.twitter_url}}">
            <i class="icon icon-twitter"></i>
            <span class="c-footer__social-item-label">{{ "Notre compte Twitter" | t }}</span>
          </a>
        </li>
      {% endif %}
      {% if restaurant.google_plus_url? %}
        <li class="c-footer__social-item">
          <a class="c-footer__social-item-link" href="{{restaurant.google_plus_url}}">
            <i class="icon icon-google"></i>
            <span class="c-footer__social-item-label">{{ "Notre page Google+" | t }}</span>
          </a>
        </li>
      {% endif %}
      {% if restaurant.tripadvisor_url? %}
        <li class="c-footer__social-item">
          <a class="c-footer__social-item-link" href="{{restaurant.tripadvisor_url}}">
            <i class="icon icon-tripadvisor"></i>
            <span class="c-footer__social-item-label">{{ "Notre page TripAdvisor" | t }}</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>

  <div class="c-footer__nav">
    <ul class="c-footer__items">
      <li class="c-footer__item">
        <a class="c-footer__item-link" href="{{ restaurant.terms_of_use_url }}">
          {{ "Mentions légales |" | t }}
        </a>
      </li>
      {% if localized_page_paths.size > 0 %}
        {% for path in localized_page_paths %}
          {% if path.current? %}
            <li class="c-footer__item c-footer__item--current">
              {% if forloop.last %}
                {{ path.locale_name }}
              {% else %}
                {{ path.locale_name }}
                <span class="c-footer__item-separator">|</span>
              {% endif%}
            </li>
          {% else %}
            <li class="c-footer__item">
              <a href="{{ path.url }}" class="c-footer__item-link">
                {% if forloop.last %}
                  {{ path.locale_name }}
                {% else %}
                  {{ path.locale_name }}
                  <span class="c-footer__item-separator">|</span>
                {% endif%}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      {% endif %}
    </ul>
  </div>
</div>
