<div class="main-nav-wrapper">
  <div class="grid">
    <div class="grid-item large--three-quarters">
      <ul class="main-nav__items">
        {% for link in linklists.navigation-primaire.links %}
          {% if link.linklist_handle == null %}
            <li class="main-nav__item">
              <a class="main-nav__link" href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% else %}
            <li class="main-nav__item">
              <a class="main-nav__link" href="{{ link.url }}">{{ link.title }} </a>
              <ul class="main-sub-nav__items">
                {% for l in linklists[link.linklist_handle].links %}
                <li class="main-sub-nav__item">
                  <a class="main-sub-nav__link" href="{{ l.url }}">{{ l.title }}</a>
                </li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}
        {% endfor %}
        {% for menu in menus %}
          <li class="main-nav__item">
            <a class="main-nav__link" href="{{ menu.url }}">{{ menu.name }}</a>
          </li>
        {% endfor %}
        <li class="main-nav__item">
          {{ "Newsletter" | newsletter_subscribe_url:'class:main-nav__link' }}
        </li>
      </ul>
    </div>

    <div class="grid-item large--one-quarter">
      {% if localized_page_paths.size > 0 %}
        <ul class="main-nav__languages">
          {% for path in localized_page_paths %}
            <li class="main-nav__language">
              <a class="main-nav__link" href="{{ path.url }}">{{ path.locale_name }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</div>
