{% newsletter_subscribe_form %}
  <div class="o-wrapper">
    <section class="c-form c-newsletter-form">
      <h1 class="c-form__title">{{ "Inscription à la newsletter" | t }}</h1>
      {% unless form.created_successfully? %}
        <div class="c-message c-message--error">
          <p class="c-message__description">
            <i class="icon icon-warning"></i>
            {{ "Veuillez corriger les erreurs mentionnées ci-dessous :" | t }}
          </p>
        </div>
      {% endunless %}
      <fieldset class="o-form">
        <div class="o-form__field">
          <label class="c-form__label" for="subscriberEmail">{{ "Abonnez-vous à notre newsletter pour recevoir les dernières nouveautés du restaurant&nbsp;:" | t }}</label>
          <input id="subscriberEmail" class="c-form__input" name="subscriber[email]" type="text" required="required">
          {% unless form.created_successfully? %}
            <div class="c-form__input-hint c-form__input-hint--error">
              {{ form.error }}
            </div>
          {% endunless %}
        </div>

        <div class="o-form__field c-button--center">
          <button class="o-button o-button--has-icon c-button-color-red" type="submit">
            <i class="icon icon-check"></i> {{ "Valider" | t }}
          </button>
        </div>

      </fieldset>
    </section>
  </div>
{% endnewsletter_subscribe_form %}
