<div class="c-banner" {% if restaurant.main_image? %}style="background-image: url({{ restaurant.main_image | custom_image_url: '1920x480#' }});"{% endif %}>
  {% if restaurant.summary? %}
    <div class="c-banner__overlay">
      <div class="o-wrapper">
        <div class="c-banner__text">
          {{ restaurant.summary }}
        </div>
      </div>
    </div>
  {% endif %}
</div>

{% if home_menus.size > 0 %}
  <div class="o-wrapper">
    <section class="c-simple-bloc">
      <h1 class="c-simple-bloc__title">
        {% if current_locale == 'fr' %}{{ theme_settings.home_menus_featured_text_fr | t }}{% else %}{{ theme_settings.home_menus_featured_text_en | t }}{% endif %}
      </h1>
      <div class="c-simple-bloc__content">
        {% for menu in home_menus %}
          <div class="c-menu">
            <h2 class="c-menu__title">{{ menu.name }}</h2>
            {% if menu.summary? %}
              <div class="c-menu__description">
                {{ menu.summary }}
              </div>
            {% endif %}
            {% for food in menu.foods %}
              {% assign_prices_to prices for food in menu %}
              {% include 'food' with food:food %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
      <div class="c-simple-bloc__button">
        <a class="o-button c-button-color-red" href="{{ restaurant.menus_path }}">
          {{ "Voir toute la carte" | t }}
        </a>
      </div>
    </section>
  </div>
{% endif %}

{% if home_foods.size > 0 %}
  <div class="o-wrapper">
    <section class="c-simple-bloc">
      <h1 class="c-simple-bloc__title">
        {% if current_locale == 'fr' %}{{ theme_settings.home_foods_featured_text_fr | t }}{% else %}{{ theme_settings.home_foods_featured_text_en | t }}{% endif %}
      </h1>
      <div class="c-simple-bloc__content">
        {% for food in home_foods %}
          {% include 'food' with food:food %}
        {% endfor %}
      </div>
      <div class="c-simple-bloc__button">
        <a class="o-button c-button-color-red" href="{{ restaurant.menus_path }}">
          {{ "Voir toute la carte" | t }}
        </a>
      </div>
    </section>
  </div>
{% endif %}

{% if theme_settings.home_display_news %}
  {% if ten_latest_news.size > 0 %}
    <div class="o-wrapper">
      <section class="c-news">
        <main class="c-news__body">
          <a href="{{ localized_root_path }}/news" class="c-news__title-link">
            <h2 class="c-news__title">{{ "Actualités" | t }}</h2>
          </a>
          {% for news in ten_latest_news %}
            {% if forloop.index <= 5 %}
              <section class="c-news__the-news">
                <a href="{{ news.url }}" class="c-news__the-news-link">
                  <div class="c-news__the-news-content-wrapper {% unless news.image? %}c-news__the-news-content-wrapper--no-image{% endunless %}">
                    <div class="c-news__the-news-content">
                      {% if news.title %}
                        <h5 class="c-news__the-news-title">{{ news.title }}</h5>
                      {% endif %}
                      {% if news.image? %}
                        <div class="c-news__the-news-image" style="background:url('{{ news.image | custom_image_url: '450x400#' }}');background-size:cover;"></div>
                      {% endif %}
                      {% if news.summary %}
                        <p class="c-news__the-news-summary">{{ news.summary }}</p>
                      {% endif %}
                    </div>
                  </div>
                </a>
              </section>
              {% unless forloop.last %}
                <hr class="c-news__separator">
              {% endunless %}
            {% endif %}
          {% endfor %}
        </main>
      </section>
    </div>
  {% endif %}
{% endif %}

<div class="o-wrapper">
  <section class="c-opening-info c-opening-info--half-width">
    <h2 class="c-opening-info__title">{{ "Horaires" | t }}</h2>
    <dl class="c-opening-info__days">
    {% for day in opening_hours %}
      <dt class="c-opening-info__day">
        {{ day.name }}
      </dt>
      <dd class="c-opening-info__shifts">
        {{ day.shifts }}
      </dd>
    {% endfor %}
    </dl>
    {% if restaurant.opening_hours_information? %}
      <div class="c-opening-info__precision">
        <p>{{ restaurant.opening_hours_information }}</p>
      </div>
    {% endif %}
  </section>

  <section class="c-location">
    <h2 class="c-location__title">{{ "Localisation" | t }}</h2>
    {% if theme_settings.google_map_type != "" %}
      <div class="c-location__map">
        {% if theme_settings.google_map_type == "embed" %}
          {% google_map_embed: "size:100%x320" %}
          <div class="c-location__map-overlay js-map-overlay">
            <p class="c-location__map-activation js-map-activation">{{ "Activer la carte" | t }}</p>
          </div>
        {% elsif theme_settings.google_map_type == "image" %}
          <a class="c-location__map-link" href="{% google_map_url %}">
            <img class="c-location__map-image" src="{% google_map_image_url: "size:640x320" %}" />
          </a>
        {% endif %}
      </div>
    {% endif %}
    {% if restaurant.street_address? || restaurant.zip_code? || restaurant.city? %}
      <div class="c-location__address">
        {% if restaurant.street_address? %}
          {{ restaurant.street_address }}
          <br />
        {% endif %}
        {% if restaurant.zip_code? %}
          {{ restaurant.zip_code }}
        {% endif %}
        {% if restaurant.city? %}
          <strong>{{ restaurant.city }}</strong>
        {% endif %}
      </div>
    {% endif %}
    <div class="c-location__button">
      <a class="o-button c-button-color-red" href="{% google_map_url %}">
        {{ "Voir l'itinéraire" | t }}
      </a>
    </div>
  </section>
</div>
