<div class="o-wrapper">
  <section class="c-simple-bloc">
    <h1 class="c-simple-bloc__title">{{ "Notre carte" | t }}</h1>
    <div class="c-simple-bloc__content">
      {% for menu in menus %}
        <div class="c-menu-preview">
          <a class="c-menu-preview__link" href="{{ menu.url }}">
            <h2 class="c-menu-preview__title">{{ menu.name }}</h2>
          </a>
          <ul class="c-menu-preview__children">
            {% for child in menu.children %}
              <li class="c-menu-preview__child">
                <a href="{{ menu.url }}#menu-{{child.id}}" class="c-menu-preview__child-link">
                  {% if child.main_image? %}
                    {{ child.main_image | custom_image_url: "100x100#" | image_tag: "class:c-menu-preview__child-image" }}
                  {% else %}
                    {{ 'fallback-image.gif' | asset_url | image_tag: 'alt:menus', 'class:c-menu-preview__anchor-image', 'width:100' }}
                  {% endif %}
                  <span class="c-menu-preview__child-title">{{ child.name}}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
          <div class="c-menu-preview__button">
            <a class="o-button c-button-color-red" href="{{ menu.url }}">{{ "Voir les plats" | t }}</a>
          </div>
          {% unless forloop.last %}
            <hr class="c-menu-preview__separator">
          {% endunless %}
        </div>
      {% endfor %}
    </div>
  </section>
</div>
