{% if all_news.size > 0 %}
  <section class="o-wrapper">
    <section class="c-news">
      <main class="c-news__body">
        <h2 class="c-news__title">{{ "Actualités" | t }}</h2>
        {% for news in all_news %}
          <section class="c-news__the-news">
            <a href="{{ news.url }}" class="c-news__the-news-link">
              <div class="c-news__the-news-content-wrapper {% unless news.image? %}c-news__the-news-content-wrapper--no-image{% endunless %}">
                <h6 class="c-news__the-news-date">{{ news.updated_at | to_date | translate_date:"date_with_day_name" }}</h6>
                <div class="c-news__the-news-content">
                  {% if news.title %}
                    <h5 class="c-news__the-news-title">{{ news.title }}</h5>
                  {% endif %}
                  {% if news.image? %}
                    <div class="c-news__the-news-image" style="background:url('{{ news.image | custom_image_url: '450x400#' }}');background-size:cover;"></div>
                  {% endif %}
                  {% if news.summary %}
                    <p class="c-news__the-news-summary">{{ news.summary | newline_to_br }}</p>
                  {% endif %}
                </div>
              </div>
            </a>
          </section>
          {% unless forloop.last %}
            <hr class="c-news__separator">
          {% endunless %}
        {% endfor %}
      </main>
    </section>
  </section>
{% endif %}